###localOptions.cfg

[CentralServer]
#chatServerHost=any
chatServiceBindInterface=eth0
customerServiceBindInterface=eth0
clusterName=Ascendancy

###new player tutorial. Set 1 to enable 0 to disable
newbieTutorialEnabled=1

###zones to enable a zone remove "#" to Disable a zone add "#"
startPlanet=tutorial
startPlanet=tatooine
startPlanet=naboo
startPlanet=corellia
startPlanet=rori
startPlanet=talus
startPlanet=yavin4
startPlanet=endor
startPlanet=lok
startPlanet=dantooine
startPlanet=dathomir
startPlanet=dungeon1
startPlanet=adventure1
startPlanet=space_corellia
startPlanet=space_naboo
startPlanet=space_tatooine
startPlanet=space_lok
startPlanet=space_dantooine
startPlanet=space_dathomir
startPlanet=space_yavin4
startPlanet=space_endor
startPlanet=space_heavy1
startPlanet=space_light1
startPlanet=kashyyyk_main
startPlanet=kashyyyk_pob_dungeons
startPlanet=kashyyyk_south_dungeons
startPlanet=kashyyyk_north_dungeons
startPlanet=kashyyyk_rryatt_trail
startPlanet=kashyyyk_hunting
startPlanet=kashyyyk_dead_forest
startPlanet=space_kashyyyk
startPlanet=space_npe_falcon
startPlanet=space_npe_falcon_2
startPlanet=space_npe_falcon_3
startPlanet=space_ord_mantell
startPlanet=mustafar
startPlanet=space_nova_orion
startPlanet=adventure2
#startPlanet=athiss
#startPlanet=mandalore

[ServerMetrics]
metricsServerPort=0

[ChatServer]
centralServerAddress=172.86.178.155
clusterName=Ascendancy
gatewayServerIP=127.0.0.1
gatewayServerPort=5001
registrarHost=127.0.0.1
registrarPort=5000

[CommodityServer]
###Timers are to set allowed vendor inactivity and when vendors will be removed from the game (all values are in minutes).
minutesActiveToUnaccessed=86400
minutesEmptyToEndangered=21600
minutesUnaccessedToEndangered=7200
minutesEndangeredToRemoved=21600
minutesVendorAuctionTimer=86400
minutesVendorItemTimer=86400

[dbProcess]
saveFrequencyLimit=60
centralServerAddress=172.86.178.155
sharedLoginMode=0
loaderThreads=1
persisterThreads=1

[PlanetServer]
###Uncomment loadWholePlanetMultiserver below to enable multiserver be sure to edit servercommon.cfg as well.
loadWholePlanetMultiserver=0
loadWholePlanet=1
numTutorialServers=1

[ConnectionServer]
adminAccountDataTable=datatables/admin/us_admin.iff
pingPort=44462
customerServiceBindInterface=eth0
chatServiceBindInterface=eth0
disableWorldSnapshot=0
validateClientVersion=1
validateStationKey=0
clientOverflowLimit=5242880

[LoginServer]
adminAccountDataTable=datatables/admin/us_admin.iff
validateClientVersion=1
validateStationKey=0

[ScriptFlags]
liveSpaceServer=1
spawnersOn=1
npeSequencersActive=true

[GameServer]
adminAccountDataTable=datatables/admin/us_admin.iff
#InterplanetarySurveyDelay=1

##idleLogoutTimeSec sets the maximum time (in seconds) a character can be idle before being automatically logged off (LD).
idleLogoutTimeSec=9999999
suiListLimit=50

##handles items such as looted weapon and armor augmentations - looted augs are max 250 in stat value.
maxItemAttribBonus=250

centralServerAddress=172.86.178.155
javaConsoleDebugMessages=0
javaEngineProfiling=0

##turns on and off god mode all 1 to enable 0 to disable
adminGodToAll=0

javaVMName=sun
maxGoldNetworkId=10000000
nameValidationAcceptAll=0
scriptWatcherWarnTime=5000
scriptWatcherInterruptTime=0
fatalOnGoldPobChange=0
javaConsoleDebugMessages=0
reservedObjectIds=1000000
enablePreload=1
buildPreloadLists=1
adminPersistAllCreates=0
buildoutAreaEditingEnabled=0
createZoneObjects=1
allowMasterObjectCreation=1
createAppearances=1
commoditiesMarketEnabled=1
disableStructureFees=0
disableResources=0
spawnAllResources=false
TCGTurnedOn=0
#canDropCard=0
#systemToDrop=0
wealthLoggingThreshold=200000000

##these two settings control the max attachment value for bits and attachments.
##handles socket skill mod value maximums including SEA's - set high enough to handle items such as the jedi robe values
maxSocketSkillModBonus=35
maxObjectSkillModBonus=250

##aiLoggingEnabled is very ""chatty""..  handle with care.
aiLoggingEnabled=0

##Mission cap for experience reward
xpMissions=50

##spawn limit override. Controls how many spawns on server.
serverSpawnLimit=25000

##Dynamic Creature Spawn uncomment below to increase server spawns. 
spawningInitialState=on
disableAreaSpawners=0
disableGenericSpawner=0
disablePatrolSpawners=0

##spawn limit override for GCW invasion cities
serverSpawnLimit_tatooine.4=90
serverSpawnLimit_naboo.6=90
serverSpawnLimit_talus.4=90

##spawn limit override
##note - serverSpawnLimit configs must remain in commonLiveOptions per dev
#serverSpawnLimit_dathomir.1=1200
#serverSpawnLimit_dathomir.2=1200
#serverSpawnLimit_endor.1=1200
#serverSpawnLimit_endor.2=1200
#serverSpawnLimit_lok=1200
#serverSpawnLimit_rori=1200
#serverSpawnLimit_talus=1200
#serverSpawnLimit_yavin4=1200

##harvester extraction bonus(base is 3.0)
harvesterExtractionRateMultiplier=1.0

##vet rewards
#veteranDebugTriggerAll=0
#veteranDebugEnableOverrideAccountAge=1
enableVeteranRewards=1
flashSpeederReward=true
combatUpgradeReward=true

##battlefield team size
#BfTeamSize=5 is only an example as a generic value was required
BfTeamSize=4

##Neutral mercenary support
enableCovertImperialMercenary=true
enableOvertImperialMercenary=true
enableCovertRebelMercenary=true
enableOvertRebelMercenary=true

##Hibernate 
hibernateDistance=65.0
hibernateEnabled=true
hibernateProxies=true

##enable GCW invasion cities
##these three settings are used to display the invasion timer on the planetary map
gcwcitykeren=1
gcwcitybestine=1
gcwcitydearic=1

##these two settings are used to set invasions back to back to back with no delay between each invasion (gcwInvasionCycleTime)
gcwInvasionCityMaximumRunning=1
gcwInvasionCycleTime=1

mountsEnabled=1
sendBreadcrumbs=1
sendPlayerTransform=1
useTemplates=1

#Events
deleteEventProps=false
foolsDay=false
halloweenCoinLimit=5000
lifeday=false
loveday=false
halloween=false
empireday_ceremony=false

#BONUS: RLS
rlsDropRate=1.0

#BONUS: Veteran Token Bonus
veteranTokenBonus=1

##BONUS: Heroic Tokens
heroicTokenBonus=2

##BONUS: Duty Tokens
## The permanent 2x bonus is hard-coded.
## If you make this 4, it translates to 8x.
dutyTokenBonus=1.0

##BONUS: XP
xpMultiplier=1.0

##BONUS: BATTLEFIELDS
bfTokenBonus=1

##BONUS: CHRONICLES
chroniclesXpModifier=1
chroniclesQuestorGoldTokenChanceOverride=15
chroniclesChroniclerGoldTokenChanceOverride=15
chroniclesChroniclerSilverTokenNumModifier=15
chroniclesQuestorSilverTokenNumModifier=15

##BONUS: GCW
gcwPointBonus=5.0
gcwTokenBonus=1

##BONUS: GCW SPACE
winTokenMultiplierBonus=1.0
lossTokenMultiplierBonus=1.0

##Controls what to enable disable on frog
[CharacterBuilder]
builderEnabled=0
skillsEnabled=0
creditsEnabled=0
buffsEnabled=0
resourcesEnabled=0
vehiclesEnabled=0
deedsEnabled=0
pahallEnabled=0
weaponsEnabled=0
armorEnabled=0
miscitemEnabled=0
shipsEnabled=0
craftingEnabled=0
resourcesEnabled=0
factionEnabled=0
StellaEnabled=0
jediEnabled=0
BestResourceEnabled=0
HeroicFlagEnabled=0
DraftSchematicsEnabled=0

[Dungeon]
##opens the Death Watch Bunker (makes everything spawn)
Death_Watch=1

##spawns the Corellian Corvette instances
Corellian_Corvette_Neutral=1
Corellian_Corvette_Imperial=1
Corellian_Corvette_Rebel=1
serverSwitch=1

##opens the Geonosian Bunker (makes everything spawn)
Geonosian=1

##gcwraid controls the GCW Raids for Theed, Coronet, Bestine and Anchorhead as well as the cheerleader events with associated quests.
gcwraid=true
anniversary=true

[Quest]
CraftingContract=true
CrowdPleaser=true
CommunityCraftingLimit=200

[BestineEvents]
PoliticianEventDuration=2592000
MuseumEventDuration=1209600

[SharedLog]
#logTarget=net:172.86.178.155:44467

[SharedNetwork]
oldestUnacknowledgedTimeout=0
noDataTimeout=1000000

[EventTeam]
forceFoolsDay=false

[SharedFoundation]
frameRateLimit=10
fatalCallStackDepth=10
warningCallStackDepth=-1
debugReportLongFrames=0
debugReportLongFrameTimes=0

# grant elder buff upon login
grantElderBuff=1

#[Custom]
# gives a multiplier bonus for making power bits
#reverseEngineeringBonusMultiplier=1.0
